.bluegenesHumanTissueExpressionVisualizer {
  // put all your css classes inside this block. Keeping them
  // nested under the tool name prevents your styles from
  // leaking out and affecting other elements by accident.

  // If you want to learn more about LESS, visit lesscss.org.

  // to build your css, run `lessc src/style.css dist/style.css --clean-css`
  // in your terminal


  // this is just an example class for root div element, you may modify or delete it as per your usecase
	.rootContainer {
		border: 1px solid black;
    padding: 20px;
    
    .innerContainer {
      display: flex;

      .graph {
				.chart-title {
					font-weight: 300;
					font-size: 24px;
					font-family: sans-serif;
					display: flex;
					justify-content: center;
        }

        .filter-panel-root {
          margin: 0 110px 100px 110px;
          text-align: center;
          border: solid 1px black;
          border-radius: 4px;

          .filter-panel-title {
            margin-top: 20px;
            font-weight: 300;
            font-size: 20px;
            font-family: sans-serif;
            text-align: center;
          }

          .filter-panel {
            padding: 10px;

            .filter-container {
              display: flex;
              flex-wrap: wrap;
              .option {
                margin-left: 20px;
                margin-bottom: 10px;
                input {
                  margin-right: 6px
                }
              }
            }
          }
        }
      }
    }
	}
}
