.bluegenesHumanTissueExpressionVisualizer {
  // put all your css classes inside this block. Keeping them
  // nested under the tool name prevents your styles from
  // leaking out and affecting other elements by accident.

  // If you want to learn more about LESS, visit lesscss.org.

  // to build your css, run `lessc src/style.css dist/style.css --clean-css`
  // in your terminal


	.rootContainer {
    padding: 10px;
    position: relative;

  @keyframes inner-container {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.5,1.5);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
  }
  .inner-container div > div {
    position: absolute;
    width: 14.52px;
    height: 14.52px;
    border-radius: 50%;
    background: rgb(72, 116, 235);
    animation: inner-container 1s linear infinite;
  }.inner-container div:nth-child(1) > div {
    left: 89.5px;
    top: 53.5px;
    animation-delay: -0.875s;
  }
  .inner-container > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 96.75999999999999px 60.75999999999999px;
  }.inner-container div:nth-child(2) > div {
    left: 78.5px;
    top: 78.5px;
    animation-delay: -0.75s;
  }
  .inner-container > div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 85.75999999999999px 85.75999999999999px;
  }.inner-container div:nth-child(3) > div {
    left: 53.5px;
    top: 89.5px;
    animation-delay: -0.625s;
  }
  .inner-container > div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 60.75999999999999px 96.75999999999999px;
  }.inner-container div:nth-child(4) > div {
    left: 27.5px;
    top: 78.5px;
    animation-delay: -0.5s;
  }
  .inner-container > div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 34.75999999999999px 85.75999999999999px;
  }.inner-container div:nth-child(5) > div {
    left: 16.5px;
    top: 53.5px;
    animation-delay: -0.375s;
  }
  .inner-container > div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 23.75999999999999px 60.75999999999999px;
  }.inner-container div:nth-child(6) > div {
    left: 27.5px;
    top: 27.5px;
    animation-delay: -0.25s;
  }
  .inner-container > div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 34.75999999999999px 34.75999999999999px;
  }.inner-container div:nth-child(7) > div {
    left: 53.5px;
    top: 16.5px;
    animation-delay: -0.125s;
  }
  .inner-container > div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 60.75999999999999px 23.75999999999999px;
  }.inner-container div:nth-child(8) > div {
    left: 78.5px;
    top: 27.5px;
    animation-delay: 0s;
  }
  .inner-container > div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 85.75999999999999px 34.75999999999999px;
  }
  .loading-container {
    width: 100%;
    height: 100%;
    min-height: 121px;
    display: flex;
    overflow: hidden;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(68, 68, 68, 0.5);
    z-index: 1;
  }
  .inner-container div { box-sizing: content-box; }
    
    .innerContainer {
      display: flex;

      .graph {

        .graph-container {
          max-height: 600px;
        }

        .filter-container {
          text-align: left;
          font-size: 16px;
          font-weight: 300;
          font-family: sans-serif;
          white-space: nowrap;

          & > div {
            display: inline-block;
            margin-right: 40px;
          }

          .tissue-filter {
            width: 30rem;
            margin-right: 50px;
            .dropdown {
              margin: 10px 0 0 0;
            }
          }
          .filter-option {
            padding-top: 10px;
            font-size: 16px;
            font-family: arial;

            .option {
              padding: 8px 15px;
              margin-right: 5px;
              cursor: pointer;
            }
            .selected {
              border: 1.2px solid rgb(85, 137, 233);
              border-radius: 3px;
              background: rgb(85, 137, 233);
              color: white;
            }
            .not-selected {
              border: 1.2px solid rgb(85, 137, 233);
              border-radius: 3px;
            }
            input {
              display: none;
            }
            label {
              cursor: pointer;
              display: inline-block;
            }
          }
        }
        .button-container {
          button {
            background-color: rgb(85, 137, 233);
            border: none;
            color: white;
            padding: 10px 45px;
            text-align: center;
            font-size: 16px;
            border-radius: 5px;
            margin-bottom: 20px;
          }
        }
      }
      .legend {
        height: 25px;
        width: ~"calc(100% - 5px)";
        margin-top: 5px;
        background-image: linear-gradient(to right,  #edf8e9, #238b45);
      }
    }
  }
}
